<configuration>
    <!-- 콘솔 로깅 : 모든 로그를 콘솔에 출력 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 특정 조건 (DEBUG 레벨)의 로그만 파일에 저장, AOP에서 특정 저장용 로그만 DEBUG 설정할 것-->
    <appender name="ApiLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level> <!-- 로그 레벨을 DEBUG로 변경 -->
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>/app/logs/logfile.log</file> <!-- 파일 경로 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%thread,%logger{36},%msg,%X{ip}%n</pattern> <!-- 저장될 로거 패턴 -->
        </encoder>
        <!-- 하루에 한번 압축 후 보관, 최대 30일, 1GB까지 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/app/logs/logfile.%d{yyyy-MM-dd}.gz</fileNamePattern> <!-- 파일 경로 -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 기본 로그 설정 -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <!-- 특정 조건 (예: DEBUG 레벨)의 로그만 파일에 저장하도록 설정 -->
    <logger name="com.sch.sch_elasticsearch.aop" level="DEBUG" additivity="false">
        <appender-ref ref="ApiLogFile"/>
    </logger>
</configuration>
